@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #eeeeee;
  overflow-x: hidden;
  margin: 0;
}

/* Navbar  */
.nav-container {
  margin: auto;
  color: white;
}
.main {
  margin-top: 70px;
}

#video-form > * {
  margin-top: 1em;
}
